.card-img-overlay{
    color: #ffff;
}

#descripcion::first-letter{
    text-transform: uppercase;
}

#city{
    font-size: 45px;
    
}

#grados{
    font-size: 100px;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.card{
    width: 30rem; 
    height: 35rem;
}

.card-img-top{
    background: rgb(2,28,76);
    background: linear-gradient(180deg, rgba(2,28,76,1) 50%, rgba(19,77,128,1) 100%);
    height: 50rem;
}

.card-body{
    padding: -10px;
    margin: -15px;
    margin-bottom: -30px;
}
