#reloj{
    font-family: sans-serif;
    font-size: 80px;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    color:#fff;
}

.reloj-contenedor{
    background-color: rgb(12, 167, 206);
    padding: 25px;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10%;
}

#fecha{
    letter-spacing: 7px;
    font-size: 20px;   
}

.animar{
    background-color: rgb(0, 0, 0);
}