<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ver Persona</title>
    </head>
    <body>
        <h1>Ver Persona: #{{ persona.id }}</h1>
        <h3>Nombre: {{ persona.nombre }}</h3>
        <h3>Nombre: {{ persona.apellido }}</h3>
        <h3>Nombre: {{ persona.email }}</h3>
        <a href="{{ url_for('inicio') }}">HOME</a>
    </body>
</html>