/* ES CASI LO MISMO QUE PERFIL, SOLO CAMBIA:

NO HAY CLASE ABOUT
LA ULTIMA PARTE DONDE DICE "DE MAS"

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:500');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    hsl(229deg 7% 43%) 5%,
    hsl(232deg 9% 68%) 25%,
    hsl(213deg 11% 81%) 50%,
    hsl(232deg 9% 68%) 75%,
    hsl(229deg 7% 43%) 95%
  );
}

/*  ****** Seccion estilo subrayado medio ****** */
nav a {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 15px;
  letter-spacing: 3px;
  position: relative;
  display: inline-block;
}

nav a:before {
  content: "";
  position: absolute;
  height: 3px;
  background: #16151b;
  top: 50%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
/*  ****** Seccion estilo subrayado medio ****** */

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::selection {
  background: rgb(0, 123, 255, 0.3);
}

.content {
  max-width: 100%;
  margin: auto;
  padding: 0 30px;
}

.navbar{
  /*position: fixed; /*TOCA ARREGLAR PARA QUE NO SE NOTE MAL */
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
  background-color: #27292b;
}

/* NO SE PARA QUE SIRVE*/
.navbar.sticky{
  background: #16151b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list{
  display: inline-flex;
}

.menu-list li{
  list-style: none;
}

.menu-list li a{
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover{
  color: #007bff;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}

@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}

@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}

@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}

@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

/*  ****  DE MAS    * ** *  */
.lenguaje{
   font-size: 13px;
   color: gray;
}

/*Clase padre flex*/
#tarjetas{
   width: 80%;
   margin: 2% auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   justify-content: space-around;
   
}

/*clase hija flex*/
.card{
   width: 18rem;
   margin: 30px;
   text-align: center;
   /*flex: 1 1 auto;*/
}

.card img{
   width: 100%;
   height: 180px;
}