table {
  width: 90%;
  border: 1px solid #000;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 0.3em;
  caption-side: bottom;
}

caption {
  color: #fff;
  background: #000;
}

th {
  background: rgb(197, 196, 196);
}

.boton, input[type=submit]{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 6px;
  border: 2px solid #707179;
}

.boton:hover{
  color: #000000;
  background-color: #ffffff;
}

form{
  font-size: 20px;
  width: 70%;
  padding: 25px;
  border-radius: 40px;
  background-color: #cacaca;
  border: 2px solid #000000;
}